{% extends "layout.twig" %}
{% import 'MACROS.twig' as MACROS %}
{% block style_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="">
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}src/style/apps.css"/>
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}src/style/resetPass.css"/>
    <link rel="stylesheet" href="{{ MACROS.appsSiteName }}src/bootstrap/css/bootstrap.min.css"/>

    <script src="{{ MACROS.appsSiteName }}src/js/jquery-3.3.1.min.js"></script>
    <script src="{{ MACROS.appsSiteName }}src/js/jquery.qrcode.min.js"></script>
    {#<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>#}
    <script src="{{ MACROS.appsSiteName }}src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ MACROS.appsSiteName }}src/bootstrap/js/bootstrap.min.js"></script>

    {#<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>#}
    {#<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>#}
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="main-content-title">
            <h2>重置易班账号</h2>
        </div>
        <div class="div-form">
            <form method="POST" name="resetPwdForm" class="reset-pwd-form" action="./resetPass">

                <div class="form-group input-group {% if validErr.post.stu_name.status == false %}has-error{% endif %}">
                    <span class="input-group-addon">姓名 :</span>
                    <input type="text" class="form-control" name="stu_name" placeholder="输入姓名" maxlength="20" required>
                </div>
                {% if validErr.post.stu_name.status == false %}
                    <p class="valid-alert small">{{ validErr.post.stu_name.textInfo }}</p>
                {% endif %}

                <div class="form-group input-group {% if validErr.post.stu_id.status == false %}has-error{% endif %}">
                    <span class="input-group-addon">学号 :</span>
                    <input type="text" class="form-control" name="stu_id" id="stu_id" placeholder="输入学号用于重置账号" minlength="10" maxlength="10" required>
                </div>
                {% if validErr.post.stu_id.status == false %}
                    <p class="valid-alert small">{{ validErr.post.stu_id.textInfo }}</p>
                {% endif %}

                <div class="form-group input-group {% if validErr.post.stu_email.status == false %}has-error{% endif %}">
                    <span class="input-group-addon">邮箱 :</span>
                    <input type="email" class="form-control" name="stu_email" placeholder="联系邮箱，建议使用qq邮箱" maxlength="50" required>
                </div>
                {% if validErr.post.stu_email.status == false %}
                    <p class="valid-alert small">{{ validErr.post.stu_email.textInfo }}</p>
                {% endif %}

                <div class="form-group input-group {% if validErr.post.old_phone.status == false %}has-error{% endif %}">
                    <span class="input-group-addon">电话号码 :</span>
                    <input type="text" class="form-control" name="old_phone" placeholder="当前账号绑定的电话号码(非必填，有此项处理更快)" minlength="11" maxlength="11">
                </div>
                {% if validErr.post.old_phone.status == false %}
                    <p class="valid-alert small">{{ validErr.post.old_phone.textInfo }}</p>
                {% endif %}


                <div class="form-group input-group">
                    <span class="input-group-addon">其他 :</span>
                    <input type="text" class="form-control" name="extra_info" placeholder="其他附加说明(非必填)" maxlength="100">
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-info">重置</button>
                </div>
            </form>
        </div>
    </div>

    {#<h1>{{ data.result_check_code }}</h1>#}

    <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">消息提示</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">

                        {% if status == 'success' %}
                            <div class="alert alert-success">{{ data.message }}</div>
                            <div class="check-reset-result">
                                <a id="resetPassResult" href="{{ MACROS.appsSiteName }}resetPassResult/{{ data.result_check_code }}">查看处理进度</a>
                                <div id="qrcode"></div>
                            </div>
                        {% elseif status == 'error' %}
                            <div class="alert alert-warning">{{ data.message }}</div>
                        {% endif %}
                    </div>

                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>

    {% if status %}
        <script>
            $('#myModal').modal();

            $('#qrcode').qrcode({width: 200,height: 200,text: $('#resetPassResult').attr('href')});
        </script>

    {% endif %}




{% endblock %}